<style>

	.gallery {
		height: 25em;
		display: inline-flex;
		justify-content: flex-start;
		overflow-x: scroll;
		padding: 0 1.5em;
		margin: 0;
		scroll-snap-type: x mandatory;
		gap: 1em;

		> li {
			flex: 0 0 auto;
			scroll-snap-align: center;
			list-style-type: none;
			height: 80%;
			scale: 1;
			transition: scale var(--animation-time, 0.5s) linear;
			width: auto;

			figure {
				box-shadow: 0 0 1em;
				height: 100%;
			}
		}
		> li:hover {
			z-index: 1;
			scale: 1.15;
		}
	}

</style>
<html>
	<ul class="gallery inline-flex-center">
		{{ range $item := .Props.items }}
		<li class="flex-center">
			{{ use "postcard" ( props 
				"img"         ( index $item 0 )
				"description" ( index $item 1 )
			) }}
		</li>
		{{ end }}
	<ul>
	<!-- {{ if .Props.path }}
		<ul class="gallery inline-flex-center">
			{{ $path := print .Props.path }}
			{{ $ext := print .Props.ext }}
			{{ range $ind, $desc := .Props.descriptions }}
			<li class="flex-center">
				{{ use "postcard" ( props 
					"img"         ( printf "%v%v%v" $path $ind $ext )
					"description" $desc
				) }}
			</li>
			{{ end }}
		<ul>
		{{ end }}
	-->
</html>

