<!doctype html>
<html>
	<head>
		<title>Wednesday</title>
		<meta charset="utf-8" />
		<!-- Stylesheets -->
		{!import{ styles }!}
		<!-- Scripts -->
		{!import{ scripts }!}
	</head>
	<body>
		{!import{ dynamics }!}
		{{ use "app" ( props "title" ( list "Wed" "nesday" ) ) }}
	</body>
</html>
