.hero {
    color: var(--white, whitesmoke);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.25rem;
}
.hero .title {
    font-size: 3em;
}
.hero .title:after {
    content: 'APS';
    font-size: 0.5em;
    margin-left: 0.5ch;
}

#navbar {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1em;
    width: calc(100% - 2em);
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.openings {
    --area: 10em;
    --anticipate: 25vh;
    background-color: transparent;
    width: 100%;
    height: var(--area, 20em);
    flex-direction: column;
    position: absolute;
    bottom: calc(-0.5 * var(--area));
}
.openings .bubble, .openings .bar {
    color: var(--carbon, darkgray);
    background-color: var(--white, whitesmoke);
    margin: auto;
    position: sticky;
}
.openings .bubble {
    top: var(--anticipate);
    list-style-type: none;
    border-radius: 1em;
    display: inline-grid;
    gap: 0.25em;
    margin: 0 auto;
    padding: 0.25em;
    z-index: 1;
    height: calc(0.5 * var(--area) - 0.5em);
    width: min-content;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, auto);
}
.openings .bubble figure{
    margin: 0;
    padding: 0;
    width: 2.5em;
}
.openings .bubble figcaption {
    font-size: 0.5em;
    flex-direction: column;
    display: flex;
    font-family: monospace;
}
.openings .week-title {
    font-size: 0.5em;
}
.openings .bar {
    height: calc(0.25 * var(--area));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: calc(-0.125 * var(--area));
    margin-top: calc(-0.125 * var(--area));
    padding: 0 1em;
}
.openings .bar > * {
    font-size: 0.85em;
    flex-direction: column;
}

.skeleton {
    background: linear-gradient(45deg, var(--red, red), var(--purple, purple));
    width: 100%;
    aspect-ratio: 1;
}

.spacer, section {
    padding: 1em;
    background-color: var(--light-carbon, lightgray);
}

#mail-dialog .title {
    font-size: 1.25em;
}
#mail-dialog {
    width: min(25em, calc(100% - 4em));
    margin: 1em auto;
    background: transparent;
    display: inline-flex;
    flex-direction: column;
    gap: 1em;
    border: none;
    font-size: 1.25em;
    border-radius: 1em;
    background-color: var(--white, white);
    box-shadow: 0 0 1em;
    padding: 1em;
    max-height: calc(100% - 4em);
}
#mail-dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    var(--red, red),
    var(--light-red, lightred),
    var(--light-violet, lightviolet),
    var(--violet, violet),
    var(--dark-violet, dark),
    var(--purple, purple)
  );
  opacity: 0.5;
}
#mail-dialog .keypad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    gap: 0.75em;
    border-radius: 1em;
    background-color: hsl(0, 0%, 85%);
    box-shadow: 0.25em 0.25em 1em hsl(0, 0%, 57.5%) inset;
    width: -moz-available;
}
#mail-dialog .keypad .button {
    font-size: 55%;
}

